# Ignore build artifacts
**/target/
**/maven-status/
**/generated-sources/
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.lst

# Ignore Maven wrapper files
mvnw
mvnw.cmd

# Ignore NetBeans-specific files
**/nbactions.xml
**/nb-configuration.xml
**/nbproject/private/

# Ignore IntelliJ and VS Code settings
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
