# Ignore build and target directories
target/

# Ignore Maven specific files
**/maven-status/
**/maven-compiler-plugin/
**/generated-sources/

# Ignore compiled Java classes
**/*.class

# Ignore NetBeans specific files
nbactions.xml

# Ignore logs and temp files
*.log
*.tmp

# Ignore IDE-specific files
/.idea/
*.iml
*.ipr
*.iws

# Ignore OS-specific files
.DS_Store
Thumbs.db
